# Dependencies
node_modules
yarn.lock

# Environment
.env
*.env*
!.env.example

# MAC Files
.DS_Store

# Npm cache directory
.npm

# Coverage
coverage

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Build
build